<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>论坛</title>
    <link rel="stylesheet" href="../assets/css/init.css">
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/shuffling.css">
    <link rel="stylesheet" href="../assets/css/searchBox.css">
    <link rel="stylesheet" href="../assets/css/forum.css">
    <link rel="stylesheet" href="../dest/css/reuse.min.css">
    <link rel="stylesheet" href="../dest/fonts/iconfont.css">
</head>
<body>

<!--头部-->
<nav class="topNav">
    <div class="container clearfix  nav">
        <div class="logo lineBlock lf">
            <a href="http://www.baidu.com">
                <img src="../dest/img/logo.png" alt="加载失败">
            </a>
        </div>

        <ul class="navList clearfix lf">
            <li class="activeClass"><a href="#">首页</a></li>
            <li><a href="#">安利墙</a></li>
            <li><a href="#">发现</a></li>
            <li><a href="#">论坛</a></li>
        </ul>


        <form class="search lf" onsubmit="return false;">
            <!--input-->
            <div class="searchInput">
                <i id="searchIcont" class="iconfont icon-Magnifier"></i>
                <input id="search" class="lineBlock" autocomplete="off" type="text" placeholder="搜索...">
            </div>
            <div class="inputLog">
                <!--搜索历史记录-->
                <ul class="history">
                    <!--<li class="activeClass">-->
                    <!--<a href="http://www.baidu.com">搜索历史记录搜索历史记录搜索</a>-->
                    <!--&lt;!&ndash;关闭按钮&ndash;&gt;-->
                    <!--<span class="iconfont icon-close after"></span>-->
                    <!--</li>-->
                    <!--<div class="clearLog hide"><span>历史搜索</span><a onclick="clertAll()" class="log" href="javascript:void(0)">清空</a></div>-->
                </ul>
                <!--实时模糊搜索-->
                <ul class="dimSearch">
                    <div>热门搜索</div>
                    <li><span>实时模糊搜索数据1</span></li>
                    <li><span>实时模糊搜索数据2</span></li>
                    <li><span>实时模糊搜索数据3</span></li>
                    <li><span>实时模糊搜索数据4</span></li>
                    <li><span>实时模糊搜索数据5</span></li>
                </ul>
            </div>
        </form>

        <div class="message lineBlock">
            <i class="iconfont icon-Pathx"></i>
            <a href=""><span class="icon-car-count">0</span></a>
        </div>
        <div class="portrait lineBlock">
            <!--<a href="http://www.baidu.com"><img src="../dest/img/noLogin.png" alt="加载失败"></a>-->
            <a href="http://www.baidu.com"><img class="okLogin" src="../dest/img/okLogin.png" alt="加载失败"></a>
        </div>
        <div class="both"></div>
    </div>
</nav>
<div class="both"></div>
<!--位置-->
<div class="location">
    <div class="locationContent container">
        你的位置:
        <a target="_blank" href="./index.html">首页</a><span>&gt;</span><a target="_blank" href="#">论坛</a>
    </div>
</div>


<div class="container forumContent">
    <!--左边-->
    <div class="left_content lf">
        <div class="recently">
            <!--标题-->
            <div class="com_title" style="margin-top: 0">
                <div class="before lf"></div>
                <div class="title lf">最新评价</div>
                <div class="more rg cursorPointer weightColor">更多</div>
            </div>
            <!--列表-->
            <ul class="listNews overflowHidden">
                <li>
                    <div class="content">
                        <div class="img">
                            <a href=""><img width="75px" height="75px" src="../dest/img/found_1.png"></a>
                        </div>
                        <div class="title">Tocalife world</div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="img">
                            <a href=""><img width="75px" height="75px" src="../dest/img/found_1.png"></a>
                        </div>
                        <div class="title">Tocalife world</div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="img">
                            <a href=""><img width="75px" height="75px" src="../dest/img/found_1.png"></a>
                        </div>
                        <div class="title">Tocalife world</div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="img">
                            <a href=""><img width="75px" height="75px" src="../dest/img/found_1.png"></a>
                        </div>
                        <div class="title">Tocalife world</div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="img">
                            <a href=""><img width="75px" height="75px" src="../dest/img/found_1.png"></a>
                        </div>
                        <div class="title">Tocalife world</div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="img">
                            <a href=""><img width="75px" height="75px" src="../dest/img/found_1.png"></a>
                        </div>
                        <div class="title">Tocalife world</div>
                    </div>
                </li>
            </ul>
        </div>
        <!--关注的论坛-->
        <div class="comForumContent">
            <!--标题-->
            <div class="com_title">
                <div class="before lf"></div>
                <div class="title lf">关注的论坛</div>
                <div class="more rg cursorPointer weightColor">更多</div>
            </div>
            <!--列表-->
            <ul class="listNewsContent overflowHidden">
                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>


                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--热门论坛-->
        <div class="comForumContent">
            <!--标题-->
            <div class="com_title">
                <div class="before lf"></div>
                <div class="title lf">热门论坛</div>
                <div class="more rg cursorPointer weightColor">更多</div>
            </div>
            <!--列表-->
            <ul class="listNewsContent overflowHidden">
                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--官方论坛-->
        <div class="comForumContent">
            <!--标题-->
            <div class="com_title">
                <div class="before lf"></div>
                <div class="title lf">官方论坛</div>
                <div class="more rg cursorPointer weightColor">更多</div>
            </div>
            <!--列表-->
            <ul class="listNewsContent overflowHidden">
                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="comImg">
                            <img width="75px" height="75px" src="../dest/img/found_1.png">
                        </div>
                        <div class="textContent">
                            <div class="title">Tocalife world</div>
                            <div class="count">帖子：110</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--右边-->
    <div class="right_content rg">
        <!--二维码-->
        <div class="QrCodeShare clearfix">
            <!--二维码-->
            <div class="code lf">
                <img width="95px" height="95px" src="../dest/img/qrCode.png" alt="加载失败">
            </div>
            <div class="content lf">
                <div class="maxTitle">芝士就是力量</div>
                <div class="minTitle">欢迎关注我们</div>
                <ul class="shareList clearfix">
                    <li id="qq"><img src="../dest/img/WeChat.png"></li>
                    <li><img src="../dest/img/qq.png"></li>
                    <li><img src="../dest/img/weibo.png"></li>
                    <li><img src="../dest/img/zhihu.png"></li>
                    <li><img src="../dest/img/email.png"></li>
                </ul>
            </div>
        </div>
        <!--热帖排行-->
        <div class="momSelect hotRanking">
            <div class="com_title">
                <div class="before lf"></div>
                <div class="title lf">热帖排行</div>
                <div class="more rg cursorPointer">更多</div>
            </div>
            <div class="both"></div>
            <!--内容-->
            <ul class="momList">
                <!--1-->
                <li>
                    <div class="content">
                        <div class="count lf">1</div>
                        <div class="img lf newsCount">
                            <div class="title">关于3月7日更新内容的说明关于3月7日关于3月7日更新内容的说明关于3月7日关于3月7日更新内容的说明关于3月7日</div>
                            <div class="newsHot">
                                <span>7929热度</span>
                                <span class="n">思源黑</span>
                                <span>Light</span>
                            </div>
                        </div>
                        <div class="selectContent lf DarkGrey">
                            <img width="110px" height="60px" src="../dest/img/topBag.png">
                        </div>
                        <div class="both"></div>
                    </div>
                </li>
                <!--2-->
                <li>
                    <div class="content">
                        <div class="count lf">2</div>
                        <div class="img lf newsCount">
                            <div class="title">关于3月7日更新内容的说明关于3月7日关于3月7日更新内容的说明关于3月7日关于3月7日更新内容的说明关于3月7日</div>
                            <div class="newsHot">
                                <span>7929热度</span>
                                <span class="n">思源黑</span>
                                <span>Light</span>
                            </div>
                        </div>
                        <div class="selectContent lf DarkGrey">
                            <img width="110px" height="60px" src="../dest/img/topBag.png">
                        </div>
                        <div class="both"></div>
                    </div>
                </li>
                <!--3-->
                <li>
                    <div class="content">
                        <div class="count lf">3</div>
                        <div class="img lf newsCount">
                            <div class="title">关于3月7日更新内容的说明关于3月7日关于3月7日更新内容的说明关于3月7日关于3月7日更新内容的说明关于3月7日</div>
                            <div class="newsHot">
                                <span>7929热度</span>
                                <span class="n">思源黑</span>
                                <span>Light</span>
                            </div>
                        </div>
                        <div class="selectContent lf DarkGrey">
                            <img width="110px" height="60px" src="../dest/img/topBag.png">
                        </div>
                        <div class="both"></div>
                    </div>
                </li>
                <!--4-->
                <li>
                    <div class="content">
                        <div class="count lf">4</div>
                        <div class="img lf newsCount">
                            <div class="title">关于3月7日更新内容的说明关于3月7日关于3月7日更新内容的说明关于3月7日关于3月7日更新内容的说明关于3月7日</div>
                            <div class="newsHot">
                                <span>7929热度</span>
                                <span class="n">思源黑</span>
                                <span>Light</span>
                            </div>
                        </div>
                        <div class="selectContent lf DarkGrey">
                            <img width="110px" height="60px" src="../dest/img/topBag.png">
                        </div>
                        <div class="both"></div>
                    </div>
                </li>
                <!--5-->
                <li>
                    <div class="content">
                        <div class="count lf">5</div>
                        <div class="img lf newsCount">
                            <div class="title">关于3月7日更新内容的说明关于3月7日关于3月7日更新内容的说明关于3月7日关于3月7日更新内容的说明关于3月7日</div>
                            <div class="newsHot">
                                <span>7929热度</span>
                                <span class="n">思源黑</span>
                                <span>Light</span>
                            </div>
                        </div>
                        <div class="selectContent lf DarkGrey">
                            <img width="110px" height="60px" src="../dest/img/topBag.png">
                        </div>
                        <div class="both"></div>
                    </div>
                </li>
            </ul>
        </div>
        <!--推荐帖子-->
        <div class="recommend">
            <div class="com_title">
                <div class="before lf"></div>
                <div class="title lf">推荐帖子</div>
                <div class="more rg cursorPointer">更多</div>
            </div>
            <div class="both"></div>
            <!--内容-->
            <ul class="postList">
                <!--1-->
                <li>
                    <div class="content">
                        <div class="title">关于3月7日更新内容的说明关于3月7日更新内容的说明</div>
                        <div class="newsHot">
                            <span class="name">牛人123</span>
                            <span>昨天</span>
                        </div>
                    </div>
                </li>
                <!--2-->
                <li>
                    <div class="content">
                        <div class="title">关于3月7日更新内容的说明关于3月7日更新内容的说明</div>
                        <div class="newsHot">
                            <span class="name">牛人123</span>
                            <span>昨天</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="both"></div>
</div>

<div class="both"></div>
<!--页面-->
<div class="footer">
    <div class="container clearfix footerContent">
        <div class="left_contents lf">
            <div class="logo lineBlock lf">
                <a href="http://www.baidu.com">
                    <img src="../dest/img/logo.png" alt="加载失败">
                </a>
            </div>
            <ul class="navList clearfix lf">
                <li class="activeClass"><a href="#">首页</a></li>
                <li><a href="#">安利墙</a></li>
                <li><a href="#">发现</a></li>
                <li><a href="#">论坛</a></li>
            </ul>
        </div>
        <div class="right_contents rg clearfix">
            <div class="text lf">Contact Us</div>
            <ul class="shareList lf clearfix">
                <li><img src="../dest/img/WeChat.png"></li>
                <li><img src="../dest/img/qq.png"></li>
                <li><img src="../dest/img/weibo.png"></li>
                <li><img src="../dest/img/zhihu.png"></li>
                <li><img src="../dest/img/email.png"></li>
            </ul>
        </div>
        <div class="both"></div>
    </div>
</div>
<div class="returnTop">
    <img class="hide" src="../dest/img/top.png" alt="">
</div>
<!--弹出层-->
<div class="layui-m-layershade">
    <div class="layui-m-layersection">
        <div></div>
    </div>
</div>
</body>
<!--<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="../dest/js/headerAndFooter.min.js"></script>
<script src="../dest/js/shuffling.min.js"></script>
<script src="../dest/js/index.min.js"></script>
<script src="../dest/js/Myapi.min.js"></script>
</html>
