<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../assets/css/init.css">
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../dest/fonts/iconfont.css">
</head>
<body>

<!--头部-->
<nav class="topNav">
    <div class="container clearfix">
        <div class="logo lineBlock lf">
            <a href="http://www.baidu.com">
                <img src="../dest/img/logo.png" alt="加载失败">
            </a>
        </div>

        <ul class="navList clearfix lf">
            <li class="activeClass"><a href="#">首页</a></li>
            <li><a href="#">安利墙</a></li>
            <li><a href="#">发现</a></li>
            <li><a href="#">论坛</a></li>
        </ul>


        <form class="search lf">
            <!--input-->
            <div class="searchInput">
                <i class="iconfont icon-Magnifier"></i>
                <input id="search" class="lineBlock" type="text" placeholder="搜索...">
            </div>
            <!--搜索历史记录-->
            <ul class="history">
                <li class="activeClass">
                    <a href="http://www.baidu.com">搜索历史记录搜索历史记录搜索</a>
                    <!--关闭按钮-->
                    <span class="iconfont icon-close after"></span>
                </li>
            </ul>
            <!--实时模糊搜索-->
            <ul class="dimSearch">
                <li><span>实时模糊搜索数据1</span></li>
                <li><span>实时模糊搜索数据2</span></li>
                <li><span>实时模糊搜索数据3</span></li>
                <li><span>实时模糊搜索数据4</span></li>
                <li><span>实时模糊搜索数据5</span></li>
                <li><span>实时模糊搜索数据6</span></li>
            </ul>
        </form>

        <div class="message lineBlock">
            <i class="iconfont icon-Pathx"></i>
            <a href=""><span class="icon-car-count">0</span></a>
        </div>
        <div class="portrait lineBlock">
            <!--<a href="http://www.baidu.com"><img src="../dest/img/noLogin.png" alt="加载失败"></a>-->
            <a href="http://www.baidu.com"><img class="okLogin" src="../dest/img/okLogin.png" alt="加载失败"></a>
        </div>
        <div class="both"></div>
    </div>
</nav>
<div class="both"></div>
<!--Banner-->
<div class="banner container">
    <h4 class="editor white">编辑推荐</h4>
    <!--轮播-->
    <div>
        <a href="http://www.baidu.com"><img width="1043px" height="415px" src="../dest/img/timg.jpeg" alt=""></a>
    </div>
    <!--评分-->
    <div class="score">
        <span>883人评分</span>
        <i class="iconfont icon-star"></i>
        <span>8.3</span>
    </div>
</div>

<div class="container">
    <!--左边-->
    <div class="left_content lf">
        <!--list-->
        <ul class="listContent">
            <!--广告-->
            <li>
                <!--标题-->
                <div class="title">
                    <div class="clearfix">
                        <h6 class="lf childTitle">来自公告</h6>
                        <!--ad-->
                        <div class="selectAd rg">
                            <div class="title lineBlock selectMore">
                                <span>AD</span>
                                <i class="iconfont icon-sanjiaoshang"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="theSelect">
                        <li>对此推荐不感兴趣</li>
                        <li>芝士星球广告说明</li>
                    </ul>
                </div>
                <!--内容-->
                <div>
                    <img src="../dest/img/newsImg.png" alt="加载失败">
                </div>
                <!--评论-->
                <div class="commentsText">
                    <!--头像-->
                    <div class="portrait lf">
                        <img width="50px" height="50px" src="../dest/img/commentsActive.png" alt="加载失败">
                    </div>
                    <!--中间文字-->
                    <div class="textContent lf">
                        <p>Toca Life: Pets</p>
                        <p>在开发者的话：这里你的宝贝将与120多种小动物们玩耍，探险!通过有趣的场景和剧情挖掘孩子们的想象力和创造力!</p>
                    </div>
                    <!--留言评分-->
                    <div class="leaveMsg lineBlock rg">
                        <div>1939人评分</div>
                        <div>
                            <i class="iconfont icon-star"></i>
                            <span>8.3</span>
                        </div>
                    </div>
                    <div class="both"></div>
                </div>
            </li>
            <!--编辑推荐-->
            <li>
                <!--标题-->
                <div class="title">
                    <div class="clearfix">
                        <h6 class="lf childTitle">编辑推荐</h6>
                        <!--ad-->
                        <div class="selectAd rg">
                            <div class="title lineBlock selectMore">
                                <span>AD</span>
                                <i class="iconfont icon-sanjiaoshang"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="theSelect">
                        <li>对此推荐不感兴趣</li>
                        <li>芝士星球广告说明</li>
                    </ul>
                </div>
                <!--内容-->
                <div>
                    <img src="../dest/img/newsImg.png" alt="加载失败">
                </div>
                <!--评论-->
                <div class="commentsText">
                    <!--头像-->
                    <div class="portrait lf">
                        <img width="50px" height="50px" src="../dest/img/commentsActive.png" alt="加载失败">
                    </div>
                    <!--中间文字-->
                    <div class="textContent lf">
                        <p>Toca Life: Pets</p>
                        <p>在开发者的话：这里你的宝贝将与120多种小动物们玩耍，探险!通过有趣的场景和剧情挖掘孩子们的想象力和创造力!</p>
                    </div>
                    <!--留言评分-->
                    <div class="leaveMsg lineBlock rg">
                        <div>1939人评分</div>
                        <div>
                            <i class="iconfont icon-star"></i>
                            <span>8.3</span>
                        </div>
                    </div>
                    <div class="both"></div>
                </div>
            </li>
            <!--来着专题-->
            <li>
                <!--标题-->
                <div class="title">
                    <div class="clearfix">
                        <h6 class="lf childTitle">来着专题</h6>
                        <!--ad-->
                        <div class="selectAd rg">
                            <div class="title lineBlock selectMore">
                                <span>AD</span>
                                <i class="iconfont icon-sanjiaoshang"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="theSelect">
                        <li>对此推荐不感兴趣</li>
                        <li>芝士星球广告说明</li>
                    </ul>
                </div>
                <!--内容-->
                <div>
                    <img src="../dest/img/newsImg.png" alt="加载失败">
                </div>
                <!--评论-->
                <div class="commentsText">
                    <!--头像-->
                    <div class="portrait lf">
                        <img width="50px" height="50px" src="../dest/img/commentsActive.png" alt="加载失败">
                    </div>
                    <!--中间文字-->
                    <div class="textContent lf">
                        <p>Toca Life: Pets</p>
                        <p>在开发者的话：这里你的宝贝将与120多种小动物们玩耍，探险!通过有趣的场景和剧情挖掘孩子们的想象力和创造力!</p>
                    </div>
                    <!--留言评分-->
                    <div class="leaveMsg lineBlock rg">
                        <div>1939人评分</div>
                        <div>
                            <i class="iconfont icon-star"></i>
                            <span>8.3</span>
                        </div>
                    </div>
                    <div class="both"></div>
                </div>
            </li>
        </ul>
        <div class="both"></div>
        <div class="moreNews">
            <div>更多</div>
        </div>
    </div>
    <!--右边-->
    <div class="right_content rg">
        <!--二维码-->
        <div class="QrCodeShare clearfix">
            <!--二维码-->
            <div class="code lf">
                <img width="95px" height="95px" src="../dest/img/qrCode.png" alt="加载失败">
            </div>
            <div class="content lf">
                <div class="maxTitle">芝士就是力量</div>
                <div class="minTitle">欢迎关注我们</div>
                <ul class="shareList clearfix">
                    <li><img src="../dest/img/WeChat.png"></li>
                    <li><img src="../dest/img/qq.png"></li>
                    <li><img src="../dest/img/weibo.png"></li>
                    <li><img src="../dest/img/zhihu.png"></li>
                    <li><img src="../dest/img/email.png"></li>
                </ul>
            </div>
        </div>
        <!--妈妈精选-->
        <div class="momSelect">
            <div class="com_title">
                <div class="before lf"></div>
                <div class="title lf">妈妈精选</div>
                <div class="more rg cursorPointer">更多</div>
            </div>
            <div class="both"></div>
            <!--内容-->
            <ul class="momList">
                <!--1-->
                <li>
                    <div class="content">
                        <div class="count lf">1</div>
                        <div class="img lf"><img width="60px" height="60px" src="../dest/img/KiddieWorld.png" alt="加载失败">
                        </div>
                        <div class="selectContent lf DarkGrey">
                            <div class="name">KiddieWorld</div>
                            <div class="mum">8.9<i class="iconfont icon-star"></i></div>
                            <div class="type">寓教于乐</div>
                        </div>
                        <div class="both"></div>
                    </div>
                </li>
                <!--2-->
                <li>
                    <div class="content">
                        <div class="count lf">2</div>
                        <div class="img lf"><img width="60px" height="60px" src="../dest/img/Blackboard.png" alt="加载失败">
                        </div>
                        <div class="selectContent lf DarkGrey">
                            <div class="name">Blackboard</div>
                            <div class="mum">8.5<i class="iconfont icon-star"></i></div>
                            <div class="type">艺术/绘画</div>
                        </div>
                        <div class="both"></div>
                    </div>
                </li>
                <!--3-->
                <li>
                    <div class="content">
                        <div class="count lf">3</div>
                        <div class="img lf"><img width="60px" height="60px" src="../dest/img/Classicalmusicforbaby.png" alt="加载失败">
                        </div>
                        <div class="selectContent lf DarkGrey">
                            <div class="name">Classicalmusicforbaby</div>
                            <div class="mum">8.3<i class="iconfont icon-star"></i></div>
                            <div class="type">音乐/歌曲</div>
                        </div>
                        <div class="both"></div>
                    </div>
                </li>
                <!--4-->
                <li>
                    <div class="content">
                        <div class="count lf">4</div>
                        <div class="img lf"><img width="60px" height="60px" src="../dest/img/language.png" alt="加载失败">
                        </div>
                        <div class="selectContent lf DarkGrey">
                            <div class="name">儿童学习语言：单词和短语</div>
                            <div class="mum">7.9<i class="iconfont icon-star"></i></div>
                            <div class="type">语言/英语</div>
                        </div>
                        <div class="both"></div>
                    </div>
                </li>
                <!--5-->
                <li>
                    <div class="content">
                        <div class="count lf">5</div>
                        <div class="img lf"><img width="60px" height="60px" src="../dest/img/Kitchen.png" alt="加载失败">
                        </div>
                        <div class="selectContent lf DarkGrey">
                            <div class="name">Kitchen</div>
                            <div class="mum">7.7<i class="iconfont icon-star"></i></div>
                            <div class="type">寓教于乐/生活</div>
                        </div>
                        <div class="both"></div>
                    </div>
                </li>
            </ul>
        </div>
        <!--最新评价-->
        <div class="newEvaluation">
            <!--标题-->
            <div class="com_title">
                <div class="before lf"></div>
                <div class="title lf">最新评价</div>
                <div class="more rg cursorPointer">更多</div>
            </div>
            <div class="both"></div>
            <!--内容-->
            <ul class="evaluationList">
                <li>
                    <div class="content">
                        <div class="imgAndTitle">
                            <div class="lf lineBlock"><img width="50px" height="50px" src="../dest/img/evaluationImg.png" alt="加载失败"></div>
                            <div class="lf">
                                <h5>跟忆术家学语言</h5>
                                <div class="star">
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                </div>
                            </div>
                            <div class="both"></div>
                        </div>
                        <!--评论-->
                        <div class="commentsText">
                            <div class="before"></div>
                            <div class="text DarkGrey">很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习......</div>
                            <div class="active"></div>
                        </div>
                        <div class="appreciates DarkGrey clearfix">
                            <i class="lf iconfont icon-zan"></i>
                            <span class="rg name">小N她爸</span>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="imgAndTitle">
                            <div class="lf lineBlock"><img width="50px" height="50px" src="../dest/img/evaluationImg.png" alt="加载失败"></div>
                            <div class="lf">
                                <h5>跟忆术家学语言</h5>
                                <div class="star">
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                </div>
                            </div>
                            <div class="both"></div>
                        </div>
                        <!--评论-->
                        <div class="commentsText">
                            <div class="before"></div>
                            <div class="text DarkGrey">很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习......</div>
                            <div class="active"></div>
                        </div>
                        <div class="appreciates DarkGrey clearfix">
                            <i class="lf iconfont icon-zan"></i>
                            <span class="rg name">小N她爸</span>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="imgAndTitle">
                            <div class="lf lineBlock"><img width="50px" height="50px" src="../dest/img/evaluationImg.png" alt="加载失败"></div>
                            <div class="lf">
                                <h5>跟忆术家学语言</h5>
                                <div class="star">
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                </div>
                            </div>
                            <div class="both"></div>
                        </div>
                        <!--评论-->
                        <div class="commentsText">
                            <div class="before"></div>
                            <div class="text DarkGrey">很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习......</div>
                            <div class="active"></div>
                        </div>
                        <div class="appreciates DarkGrey clearfix">
                            <i class="lf iconfont icon-zan"></i>
                            <span class="rg name">小N她爸</span>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="content">
                        <div class="imgAndTitle">
                            <div class="lf lineBlock"><img width="50px" height="50px" src="../dest/img/evaluationImg.png" alt="加载失败"></div>
                            <div class="lf">
                                <h5>跟忆术家学语言</h5>
                                <div class="star">
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                    <i class="iconfont icon-star"></i>
                                </div>
                            </div>
                            <div class="both"></div>
                        </div>
                        <!--评论-->
                        <div class="commentsText">
                            <div class="before"></div>
                            <div class="text DarkGrey">很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习......</div>
                            <div class="active"></div>
                        </div>
                        <div class="appreciates DarkGrey clearfix">
                            <i class="lf iconfont icon-zan"></i>
                            <span class="rg name">小N她爸</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--热门标签-->
        <div class="tags">
            <!--标题-->
            <div class="com_title">
                <div class="before lf"></div>
                <div class="title lf">热门标签</div>
            </div>
            <!--内容-->
            <div class="content">
                <ul class="clearfix">
                    <li><div class="tag">英语</div></li>
                    <li><div class="tag">数学</div></li>
                    <li><div class="tag">语文</div></li>
                    <li><div class="tag">逻辑思维</div></li>
                    <li><div class="tag">日常生活</div></li>
                    <li><div class="tag">音乐</div></li>
                    <li><div class="tag">寓教于乐</div></li>
                    <li><div class="tag">自然</div></li>
                    <li><div class="tag">编程</div></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="both"></div>
</div>

<div class="both"></div>
<!--页面-->
<div class="footer">
    <div class="container clearfix">
        <div class="left_contents lf">
            <div class="logo lineBlock lf">
                <a href="http://www.baidu.com">
                    <img src="../dest/img/logo.png" alt="加载失败">
                </a>
            </div>
            <ul class="navList clearfix lf">
                <li class="activeClass"><a href="#">首页</a></li>
                <li><a href="#">安利墙</a></li>
                <li><a href="#">发现</a></li>
                <li><a href="#">论坛</a></li>
            </ul>
        </div>
        <div class="right_contents rg clearfix">
            <div class="text lf">Contact Us</div>
            <ul class="shareList lf clearfix">
                <li><img src="../dest/img/WeChat.png"></li>
                <li><img src="../dest/img/qq.png"></li>
                <li><img src="../dest/img/weibo.png"></li>
                <li><img src="../dest/img/zhihu.png"></li>
                <li><img src="../dest/img/email.png"></li>
            </ul>
        </div>
        <div class="both"></div>
    </div>
</div>


</body>
<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="../dest/js/index.min.js"></script>
</html>
