<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安利墙</title>
    <link rel="stylesheet" href="../assets/css/init.css">
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/shuffling.css">
    <link rel="stylesheet" href="../assets/css/searchBox.css">
    <link rel="stylesheet" href="../assets/css/wall.css">
    <link rel="stylesheet" href="../dest/css/reuse.min.css">
    <link rel="stylesheet" href="../dest/fonts/iconfont.css">
</head>
<body>

<!--头部-->
<nav class="topNav">
    <div class="container clearfix  nav">
        <div class="logo lineBlock lf">
            <a href="http://www.baidu.com">
                <img src="../dest/img/logo.png" alt="加载失败">
            </a>
        </div>

        <ul class="navList clearfix lf">
            <li class="activeClass"><a href="#">首页</a></li>
            <li><a href="#">安利墙</a></li>
            <li><a href="#">发现</a></li>
            <li><a href="#">论坛</a></li>
        </ul>


        <form class="search lf" onsubmit="return false;">
            <!--input-->
            <div class="searchInput">
                <i id="searchIcont" class="iconfont icon-Magnifier"></i>
                <input id="search" class="lineBlock" autocomplete="off" type="text" placeholder="搜索...">
            </div>
            <div class="inputLog">
                <!--搜索历史记录-->
                <ul class="history">
                    <!--<li class="activeClass">-->
                    <!--<a href="http://www.baidu.com">搜索历史记录搜索历史记录搜索</a>-->
                    <!--&lt;!&ndash;关闭按钮&ndash;&gt;-->
                    <!--<span class="iconfont icon-close after"></span>-->
                    <!--</li>-->
                    <!--<div class="clearLog hide"><span>历史搜索</span><a onclick="clertAll()" class="log" href="javascript:void(0)">清空</a></div>-->
                </ul>
                <!--实时模糊搜索-->
                <ul class="dimSearch">
                    <div>热门搜索</div>
                    <li><span>实时模糊搜索数据1</span></li>
                    <li><span>实时模糊搜索数据2</span></li>
                    <li><span>实时模糊搜索数据3</span></li>
                    <li><span>实时模糊搜索数据4</span></li>
                    <li><span>实时模糊搜索数据5</span></li>
                </ul>
            </div>
        </form>

        <div class="message lineBlock">
            <i class="iconfont icon-Pathx"></i>
            <a href=""><span class="icon-car-count">0</span></a>
        </div>
        <div class="portrait lineBlock">
            <!--<a href="http://www.baidu.com"><img src="../dest/img/noLogin.png" alt="加载失败"></a>-->
            <a href="http://www.baidu.com"><img class="okLogin" src="../dest/img/okLogin.png" alt="加载失败"></a>
        </div>
        <div class="both"></div>
    </div>
</nav>
<div class="both"></div>
<!--位置-->
<div class="location">
    <div class="locationContent container">
        你的位置:
        <a target="_blank" href="./index.html">首页</a><span>&gt;</span><a target="_blank" href="#">安利墙</a>
    </div>
</div>
<!--瀑布流-->
<div class="wallContent">
    <div class="maxTitle">芝士安利墙</div>
    <div class="subtitle">
        <div class="title">大家都在学什么</div>
    </div>

    <div id="masonry" class="container">
        <!--1-->
        <div class="waterfallContent">
            <div class="imgAndTitle">
            <div class="lf lineBlock"><img width="50px" height="50px"
            src="../dest/img/evaluationImg.png" alt="加载失败"></div>
            <div class="lf">
            <div class="titles">跟忆术家学语言</div>
            <div class="star">
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            </div>
            </div>
            <div class="both"></div>
            </div>
            <!--评论-->
            <div class="commentsText">
            <div class="before"></div>
            <div class="text DarkGrey">
                <p>很棒的软件，起初我只是给我的女儿作为语言启蒙使用。但是随着和女儿一起学习......</p>
            </div>
            <div class="active"></div>
            </div>
            <div class="appreciates DarkGrey clearfix">
            <i class="lf iconfont icon-zan"></i>
            <span class="rg name">小N她爸</span>
            </div>
        </div>


        <!--2-->
        <div class="waterfallContent">
            <div class="imgAndTitle">
            <div class="lf lineBlock"><img width="50px" height="50px"
            src="../dest/img/evaluationImg.png" alt="加载失败"></div>
            <div class="lf">
            <div class="titles">跟忆术家学语言</div>
            <div class="star">
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            </div>
            </div>
            <div class="both"></div>
            </div>
            <!--评论-->
            <div class="commentsText">
            <div class="before"></div>
            <div class="text DarkGrey">
            <p>很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习。</p>
            <p>很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习。</p>
            <p>很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习。</p>
            <p>很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习。</p>
            </div>
            <div class="active"></div>
            </div>
            <div class="appreciates DarkGrey clearfix">
            <i class="lf iconfont icon-zan"></i>
            <span class="rg name">小N她爸</span>
            </div>
        </div>


        <!--3-->
        <div class="waterfallContent">
            <div class="imgAndTitle">
            <div class="lf lineBlock"><img width="50px" height="50px"
            src="../dest/img/evaluationImg.png" alt="加载失败"></div>
            <div class="lf">
            <div class="titles">跟忆术家学语言</div>
            <div class="star">
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            </div>
            </div>
            <div class="both"></div>
            </div>
            <!--评论-->
            <div class="commentsText">
            <div class="before"></div>
            <div class="text DarkGrey">
            <p>很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习。</p>
            <p>很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习。</p>
            </div>
            <div class="active"></div>
            </div>
            <div class="appreciates DarkGrey clearfix">
            <i class="lf iconfont icon-zan"></i>
            <span class="rg name">小N她爸</span>
            </div>
        </div>


        <!--4-->
        <div class="waterfallContent">
            <div class="imgAndTitle">
            <div class="lf lineBlock"><img width="50px" height="50px"
            src="../dest/img/evaluationImg.png" alt="加载失败"></div>
            <div class="lf">
            <div class="titles">跟忆术家学语言</div>
            <div class="star">
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            <i class="iconfont icon-star"></i>
            </div>
            </div>
            <div class="both"></div>
            </div>
            <!--评论-->
            <div class="commentsText">
            <div class="before"></div>
            <div class="text DarkGrey">
            <p>很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习。</p>
            <p>很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习。</p>
            <p>很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习。</p>
            <p>很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习。</p>
            </div>
            <div class="active"></div>
            </div>
            <div class="appreciates DarkGrey clearfix">
            <i class="lf iconfont icon-zan"></i>
            <span class="rg name">小N她爸</span>
            </div>
        </div>


        <!--6-->
        <div class="waterfallContent">
            <div class="imgAndTitle">
                <div class="lf lineBlock"><img width="50px" height="50px"
                                               src="../dest/img/evaluationImg.png" alt="加载失败"></div>
                <div class="lf">
                    <div class="titles">跟忆术家学语言</div>
                    <div class="star">
                        <i class="iconfont icon-star"></i>
                        <i class="iconfont icon-star"></i>
                        <i class="iconfont icon-star"></i>
                        <i class="iconfont icon-star"></i>
                        <i class="iconfont icon-star"></i>
                    </div>
                </div>
                <div class="both"></div>
            </div>
            <!--评论-->
            <div class="commentsText">
                <div class="before"></div>
                <div class="text DarkGrey">
                    <p>很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习。</p>
                    <p>很棒的软件，起初我只是给我的女儿作为语 言启蒙使用。但是随着和女儿一起学习。</p>
                </div>
                <div class="active"></div>
            </div>
            <div class="appreciates DarkGrey clearfix">
                <i class="lf iconfont icon-zan"></i>
                <span class="rg name">小N她爸</span>
            </div>
        </div>

        <!--5-->
        <div class="waterfallContent">
            <div class="imgAndTitle">
                <div class="lf lineBlock"><img width="50px" height="50px"
                                               src="../dest/img/evaluationImg.png" alt="加载失败"></div>
                <div class="lf">
                    <div class="titles">跟忆术家学语言</div>
                    <div class="star">
                        <i class="iconfont icon-star"></i>
                        <i class="iconfont icon-star"></i>
                        <i class="iconfont icon-star"></i>
                        <i class="iconfont icon-star"></i>
                        <i class="iconfont icon-star"></i>
                    </div>
                </div>
                <div class="both"></div>
            </div>
            <!--评论-->
            <div class="commentsText">
                <div class="before"></div>
                <div class="text DarkGrey">
                    <p>很棒的软件，起初我只是给我的女儿作为语言启蒙使用。但是随着和女儿一起学习......</p>
                </div>
                <div class="active"></div>
            </div>
            <div class="appreciates DarkGrey clearfix">
                <i class="lf iconfont icon-zan"></i>
                <span class="rg name">小N她爸</span>
            </div>
        </div>


    </div>
</div>
<div class="both"></div>
<!--页面-->
<div class="footer">
    <div class="container clearfix footerContent">
        <div class="left_contents lf">
            <div class="logo lineBlock lf">
                <a href="http://www.baidu.com">
                    <img src="../dest/img/logo.png" alt="加载失败">
                </a>
            </div>
            <ul class="navList clearfix lf">
                <li class="activeClass"><a href="#">首页</a></li>
                <li><a href="#">安利墙</a></li>
                <li><a href="#">发现</a></li>
                <li><a href="#">论坛</a></li>
            </ul>
        </div>
        <div class="right_contents rg clearfix">
            <div class="text lf">Contact Us</div>
            <ul class="shareList lf clearfix">
                <li><img src="../dest/img/WeChat.png"></li>
                <li><img src="../dest/img/qq.png"></li>
                <li><img src="../dest/img/weibo.png"></li>
                <li><img src="../dest/img/zhihu.png"></li>
                <li><img src="../dest/img/email.png"></li>
            </ul>
        </div>
        <div class="both"></div>
    </div>
</div>
<div class="returnTop">
    <img class="hide" src="../dest/img/top.png" alt="">
</div>
<!--弹出层-->
<div class="layui-m-layershade">
    <div class="layui-m-layersection">
        <div></div>
    </div>
</div>
</body>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!--<script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>-->
<script src="../dest/js/headerAndFooter.min.js"></script>
<script src="../dest/js/index.min.js"></script>
<script src="../dest/js/Myapi.min.js"></script>

<script src="../masonry/masonry.pkgd.js"></script>
<script>
    var $container = $('#masonry');
    // initialize
    $container.masonry({
        itemSelector: '.waterfallContent',
        "gutter": 10
    });
</script>
</html>
