$orange: #f7c049;
.DarkGrey {
  color: #999999;
}
.container {
  width: 1043px;
  margin: 0 auto;
}

.lineBlock {
  display: inline-block;
}

.lf {
  float: left;
}

.rg {

  float: right;
}

.overflowHidden {
  overflow: hidden;
}

.hide {
  display: none;
}

.white {
  color: #ffffff;
}
.cursorPointer {
  cursor: pointer;
}
.borderRadius3 {
  border-radius: 3px;
}
// 公共大标题
.com_title {
  height: 28px;
  margin: 20px 0 10px 0;
  .before {
    background-color: $orange;
    width: 4px;
    height: 100%;
  }
  .title {
    margin-left: 6px;
    font-size: 24px;
    color: #545454;
  }
  .more {
    margin-right: 15px;
    margin-top: 6px;
    font-size: 16px;
    font-weight: bold;
    color: $orange;
  }
}
