$white: #ffffff;
$orange: #f7c049;

.forumContent {
  margin-top: 30px;
  // 最近浏览
  .recently {
    .listNews {
      li {
        float: left;
        width: 114px;
        box-sizing: border-box;
        padding: 25px 18px 45px 18px;
        background-color: $white;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 12px 2px rgba(30, 13, 4, .15);
        }

        &:nth-child(6n) {
          margin-right: 0;
        }

        .content {
          color: #999999;

          .img {
            width: 75px;
            height: 75px;
            overflow: hidden;
            border-radius: 18px;
          }

          .title {
            font-size: 14px;
            color: #999999;
            margin-top: 20px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
          }

          .describe {
            font-size: 13px;
            overflow: hidden;

            span {
              &:first-child {
                float: left;
              }

              &:last-child {
                float: right;
              }
            }
          }
        }
      }
    }
  }

  // 公共论坛部分
  .comForumContent {
    .com_title {
      margin-top: 30px;
      margin-bottom: 23px;
    }
    .listNewsContent {
      background-color: $white;
      padding: 26px 26px 14px 26px;
      box-sizing: border-box;

      li {
        width: 310px;
        float: left;
        box-sizing: border-box;
        background-color: #f9f8f8;
        &:nth-child(2n) {
          margin-bottom: 12px;
        }
        &:nth-child(odd) {
          margin-right: 6px;
        }

        &:nth-child(even) {
          margin-left: 6px;
        }

        &:hover {

        }
        .content {
          overflow: hidden;
          padding: 7px 12px;
          .comImg {
            float: left;
            padding: 3px;
            margin-right: 10px;
            width: 75px;
            height: 75px;
            overflow: hidden;
            border-radius: 3px;
            background-color: $white;

          }
          .textContent {
            padding: 15px 0;
            float: left;
            .title {
              font-size: 16px;
              color: #404040;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              overflow: hidden;
            }
            .count {
              font-size: 14px;
              font-weight: 600;
              margin-top: 19px;
              color: #999999;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              overflow: hidden;
            }
          }
        }
      }
    }
  }


  // 热帖排行
  .hotRanking {
    .momList {
      li {
        margin-bottom: 13px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .content {
        .newsCount {
          width: 160px;
        }
        .selectContent {
          width: 110px;
          height: 60px;
          margin-left: 2px;
        }
        .title {
          font-size: 16px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        .newsHot {
          font-size: 12px;
          color: #a1a1a1;
          .n {
            margin:  10px;
          }
        }
      }
    }
  }

  // 推荐帖子
  .recommend {
    .com_title {
      margin-top: 30px;
      margin-bottom: 23px;
    }
    .postList {
      padding: 20px;
      border-radius: 3px;
      overflow: hidden;
      background-color: $white;
      li {
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }
        .content {
          .title {
            margin-bottom: 9px;
            font-size: 16px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
          .newsHot {
            font-size: 12px;
            color: #a1a1a1;
            .name {
              margin-right:  15px;
            }
          }
        }
      }
    }
  }
}
