$white: #fff;
$orange: #f79640;
/*
首页需要的样式
*/
html, body {
  background-color: #f2f2f2;
}

// 头部
.topNav {
  height: 80px;
  width: 100%;
  background-size: 100% 100%;
  background-image: url("../../dest/img/topBag.png");

  .nav {
    background-image: url("../../dest/img/topBag.png");
  }

  .logo {
    padding: 20px 0 20px 22px;
  }

  .navList {
    font-size: 18px;
    margin-left: 60px;
    color: $white;

    li {
      a {
        color: $white;
      }

      transition: 0.4s all;
      width: 100px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      float: left;
    }

    .activeClass {
      background-color: $orange;
    }
  }

  // 消息
  .message {
    position: relative;
    margin: 0 30px 0 30px;
    bottom: 24px;

    i {
      color: #da9500;
      font-size: 22px;
    }

    .icon-car-count {
      position: absolute;
      top: -6px;
      right: -8px;
      min-width: 8px;
      text-align: center;
      line-height: 8px;
      display: inline-block;
      background: red;
      color: #fff;
      border-radius: 17px;
      padding: 6px;
      font-size: 14px;
      transform: scale(.7);
      font-family: Tahoma !important;
    }
  }

  // 头像
  .portrait {
    //width: 62px;
    //height: 62px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 50%;
    background-image: $white;

    .okLogin {
      border: 2px solid $white;
    }

    img {
      width: 58px;
      height: 58px;
      border-radius: 50%;
    }
  }
}

// 尾部
.footer {
  margin-top: 170px;
  height: 122px;
  width: 100%;
  background-size: 100% 100%;
  background-image: url("../../dest/img/footerBag.png");

  .footerContent {
    background-image: url("../../dest/img/footerBag.png");
  }

  .left_contents {
    width: 685px;
    line-height: 122px;
  }

  .right_contents {
    width: 328px;

    .text {
      margin: 34px 24px 0 8px;
      color: $white;
      font-size: 12px;
    }

    // 分享列表
    .shareList {
      margin-top: 26px;

      li {
        float: left;
        margin-right: 6px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .logo {
    display: block;
    margin: 34px 34px 0 0;
  }

  .navList {
    li {
      a {
        color: $white;
      }

      float: left;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

  }
}

/*
// 搜索
.search {
  position: relative;
  width: 146px;
  height: 30px;
  margin-top: 24px;
  margin-left: 40px;
  font-size: 14px;
  // 搜索输入框
  .searchInput {
    .icon-Magnifier {
      position: absolute;
      top: 5px;
      left: 10px;
      font-size: 20px;
      color: $orange;
      font-weight: 600;
    }

    input[type="text"] {
      width: 106px;
      padding-left: 40px;
      padding-right: 17px;
      border-radius: 14px;
      border: none;
      height: 30px;
      outline: medium;
    }
  }

  // 历史记录
  .history {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 100;
    min-width: 146px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .2);
    overflow: hidden;
    // 清除历史记录
    .clearLog {
      background-color: #f2f2f5;
      padding: 4px 22px 4px 0;
      color: #1353ff;
      font-size: 13px;
      text-align: right;
    }

    li.activeClass {
      .after {
        display: none;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 7px;
        content: "\e619";
        color: #999999;
      }
    }

    li {
      position: relative;

      &:hover {
        .after {
          display: block;
        }

        background-color: #f2f2f5;

        a {
          color: #ff0000;
        }
      }

      a {
        color: #666;
        outline: 0;
        padding: 9px 22px 9px 13px;
        line-height: 12px;
        display: block;
        white-space: nowrap;

      }
    }
  }

  // 模糊搜索
  .dimSearch {
    position: absolute;
    top: 36px;
    left: 0;
    min-width: 146px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .2);
    z-index: 200;
    display: none;

    li {
      &:hover {
        transition: 0.4s all;
        background-color: #dddddf;
      }

      cursor: pointer;

      span {
        display: block;
        padding: 5px;
      }
    }
  }

}*/
//
//
//.banner {
//  position: relative;
//  height: 415px;
//  margin: 15px auto;
//  background-color: #528CE0;
//
//  .bannerContent {
//    position: relative;
//    width: 1043px;
//    overflow: hidden;
//
//    .img {
//      position: absolute;
//      left: 0;
//      top: 0;
//    }
//  }
//
//  li {
//    float: left;
//
//    img {
//      border: 0;
//      display: block;
//    }
//  }
//
//  // 编辑推荐
//  .editor {
//    position: absolute;
//    z-index: 999;
//    left: 20px;
//    top: 20px;
//  }
//
//  .score {
//    color: $white;
//    position: absolute;
//    z-index: 999;
//    right: 22px;
//    bottom: 12px;
//
//    span:first-child {
//      font-size: 14px;
//      vertical-align: middle;
//    }
//
//    span:last-child {
//      font-size: 16px;
//      font-weight: 700;
//      vertical-align: middle;
//    }
//  }
//}

.left_content {
  width: 685px;
}

.right_content {
  width: 328px;
  // 二维码及分享
  .QrCodeShare {
    padding: 12px;
    border-radius: 3px;
    background-color: $white;
    // 内容
    .content {
      margin-left: 15px;

      .maxTitle {
        font-size: 22px;
        font-weight: 700;
        color: #ffc039;
      }

      .minTitle {
        margin: 6px 0;
        font-size: 13px;
        color: #999999;
      }
    }

    // 分享列表
    .shareList {
      li {
        float: left;
        margin-right: 6px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  // 妈妈精选
  .momSelect {
    .momList {
      border-radius: 3px;
      padding: 10px 0;
      background-color: $white;

      li {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }

        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
          .count {
            color: $orange;
          }
        }
      }

      .content {
        .count {
          width: 45px;
          line-height: 66px;
          text-align: center;
          color: #b4b4b4;
        }

        .selectContent {
          margin-left: 16px;

          .name {
            font-size: 15px;
            color: #424242;
          }

          .mum, .type {
            .iconfont {
              margin-left: 4px;
            }

            font-size: 13px;
          }
        }
      }
    }
  }

  // 最新评价
  .newEvaluation {
    .evaluationList {
      li {
        display: block;
        padding: 10px 4px;
        background-color: $white;
        margin-bottom: 10px;
        border-radius: 3px;

        &:last-child {
          margin-bottom: 0;
        }

        // 图片和标题
        .imgAndTitle {
          margin-left: 6px;

          div:first-child {
            margin-right: 10px;
          }

          .star {
            .iconfont {
              font-size: 12px;
              color: #f7c049;
            }
          }
        }

        // 评论留言
        .commentsText {
          position: relative;
          padding: 0 30px;
          margin: 12px 0 4px 0;

          .text {
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }

          .before, .active {
            position: absolute;
            display: inline-block;
            width: 23px;
            height: 21px;
            background-size: 23px 21px;
          }

          .before {
            top: 0;
            left: 0;
            background-image: url("../../dest/img/leftQuotes.png");
          }

          .active {
            right: 0;
            bottom: 0;
            background-image: url("../../dest/img/rightQuotes.png");
          }
        }

        // 赞赏
        .appreciates {
          padding: 0 30px;

          .name {
            &:before {
              content: "";
              display: inline-block;
              vertical-align: middle;
              width: 30px;
              height: 1px;
              margin-right: 2px;
              background-color: #dddddd;
            }

            color: $orange;
            font-size: 14px;
          }
        }
      }


    }


  }

  // 热门标签
  .tags {
    border-radius: 3px;

    .content {
      background-color: $white;
      padding: 20px 32px;

      li {
        cursor: pointer;
        float: left;
        margin-right: 9px;
        margin-bottom: 12px;

        &:last-child {
          margin-right: 0;
          margin-bottom: 0;
        }
      }

      .tag {
        border-radius: 2px;
        display: inline-block;
        font-size: 16px;
        color: #ffd579;
        border: solid 1px #ffd579;
        padding: 5px 6px;
      }
    }

  }
}

.listContent {
  width: 685px;
  color: #999999;

  li {
    display: block;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover .selectAd {
      display: block;
    }
  }

  // 标题
  .title {
    position: relative;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: $white;

    .selectAd {
      transition: 0.4s all;
      display: none;

      &.activeClass {
        display: block;
      }

      .title {
        padding: 0 10px;
        border-radius: 2px;
        background-color: #fff0cf;
        color: #ffd270;
      }

      .activeClass {
        display: inline-block;
        transform: rotate(180deg);
      }
    }

    .theSelect {
      transition: 1s all;
      position: absolute;
      background-color: $white;
      top: 35px;
      right: 10px;
      padding: 18px 0;
      border: solid 1px #c2c2c2;
      border-radius: 7px;
      display: none;

      li {
        padding: 4px 15px;
        margin-bottom: 18px;

        &:hover {
          cursor: pointer;
          background-color: rgba(255, 255, 255, .4);
          background-color: #dddddf;
          color: red;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.activeClass {
        display: block;
      }
    }

    .childTitle {
      line-height: 22px;
    }
  }

  // 评分
  .commentsText {
    padding: 7px 10px;
    background-color: $white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    .portrait {
      margin: 10px 10px 0 0;
    }

    .textContent {
      width: 400px;

      p:first-child {
        font-size: 22px;
        font-weight: 700;
        color: $orange;
      }

      p:last-child {
        font-size: 14px;
        font-weight: 500;
        color: #999999;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }

    .leaveMsg {
      margin-top: 20px;
      font-size: 14px;
      color: $orange;
      padding-right: 15px;
      text-align: right;

      span {
        font-size: 16px;
        font-weight: 900;
      }
    }
  }

}

.moreNews {
  width: 685px;
  margin-top: 80px;
  text-align: center;

  div {
    display: inline;
    border-radius: 5px;
    color: $white;
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 700;
    background-color: $orange;
  }
}

//
//.pointer {
//  height: 4px;
//  position: absolute;
//  bottom: 16px;
//}
//
//.pointer li {
//  width: 42px;
//  height: 1px;
//  background: rgba(255, 255, 255, 0.2);
//  float: left;
//  margin: 0 5px;
//  cursor: pointer;
//}
//
//.pointer li.now {
//  height: 4px;
//  background: rgba(255, 255, 255, 0.5);
//}
//
//.cut {
//  background: rgba(255, 255, 255, 0.4);
//  position: absolute;
//  font-family: '宋体';
//  color: #fff;
//  text-align: center;
//  cursor: pointer;
//  opacity: 0.2;
//}
//
//.J_banner {
//  max-width: 100%;
//  position: relative;
//  overflow: hidden;
//  margin: 0 auto 10px;
//}
//
//.J_banner .img {
//  width: 2000px;
//  overflow: hidden;
//  position: absolute;
//  top: 0;
//  left: 0;
//}
//
//.J_banner .img li {
//  float: left;
//  position: relative;
//}
//
//.J_banner1 .pointer {
//  width: 100px;
//  height: 15px;
//  position: absolute;
//  bottom: 16px;
//  left: 50%;
//}
//
//.J_banner1 .pointer li {
//  width: 15px;
//  height: 15px;
//  background: #d0d0d0;
//  border-radius: 50%;
//  margin: 0 5px;
//  float: left;
//}
//
//.J_banner1 .pointer li.now {
//  background: #fff;
//}
//
//.J_banner .cut {
//  width: 34px;
//  height: 58px;
//  left: 20px;
//  font-size: 18px;
//  line-height: 58px;
//}
//
//.J_banner .cut.next {
//  left: auto;
//  right: 20px;
//}


// 返回顶部
.returnTop {
  cursor: pointer;
  position: fixed;
  right: 50px;
  bottom: 70px;
  z-index: 3999;
}
