$white: #fff;
/*
首页需要的样式
*/
.topNav {
  height: 80px;
  width: 100%;
  background-size: cover;
  background-image: url("../../dest/img/topBag.png");

  .logo {
    padding: 20px 0 20px 22px;
  }

  .navList {
    font-size: 18px;
    color: $white;
    float: left;
  }
}
