// 搜索框
$white: #fff;
$orange: #f79640;
// 搜索
.search {

  position: relative;
  width: 146px;
  height: 30px;
  margin-top: 24px;
  margin-left: 40px;
  font-size: 14px;
  // 搜索输入框
  .searchInput {
    .icon-Magnifier {
      position: absolute;
      top: 5px;
      left: 10px;
      font-size: 20px;
      color: $orange;
      font-weight: 600;
    }

    input[type="text"] {
      width: 106px;
      padding-left: 40px;
      padding-right: 17px;
      border-radius: 14px;
      border: none;
      height: 30px;
      outline: medium;
    }
  }
  .inputLog {
    position: absolute;
    top: 28px;
    left: 0;
    z-index: 9299;
    min-width: 250px;
    border-radius: 3px;
    overflow: hidden;
    // 历史记录
    .history {
      //position: absolute;
      //top: 40px;
      //left: 0;
      //z-index: 100;
      background-color: #fff;
      box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .2);
      overflow: hidden;

      // 清除历史记录
      .clearLog {
        background-color: #f2f2f2;
        padding: 4px 5px 4px 5px;
        font-size: 13px;
        overflow: hidden;
        span {
          color: #999999;
          float: left;
        }
        a {
          float: right;
          color: #f6c760;
        }
      }

      li.activeClass {
        .after {
          display: none;
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 7px;
          content: "\e619";
          color: #999999;
        }
      }

      li {
        position: relative;

        &:hover {
          .after {
            display: block;
          }
          //background-color: #f2f2f5;
          a {
            color: #ff0000;
          }
        }

        a {
          color: #666;
          outline: 0;
          padding: 9px 22px 9px 13px;
          line-height: 12px;
          display: block;
          white-space: nowrap;

        }
      }
    }

    // 模糊搜索
    .dimSearch {
      //position: absolute;
      //top: 36px;
      //left: 0;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 2px 8px 1px rgba(0, 0, 0, .2);
      z-index: 200;
      display: none;
      div {
        font-size: 13px;
        color: #999999;
        background-color: #f2f2f2;
        padding: 4px 10px 4px 5px;
      }
      li {
        &:hover {
          transition: 0.4s all;
          background-color: #dddddf;
        }

        cursor: pointer;

        span {
          display: block;
          padding: 5px;
        }
      }
    }

  }
}
