// 安利墙
.wallContent {
  .maxTitle {
    margin-top: 42px;
    text-align: center;
    font-size: 30px;
    color: #ffc039;
  }

  .subtitle {
    margin-top: 34px;
    display: flex;
    text-align: center;

    &:before, &:after {
      position: relative;
      top: 13px;
      content: "";
      flex: 1;
      height: 2px;
      background-color: #b0b0b0;
    }

    .title {
      width: 188px;
      font-size: 20px;
      color: #b0b0b0;
    }


  }

  // 瀑布流
  .waterfall {
    column-count: 3;
    column-gap: 0;
    .item {
      break-inside: avoid;
      padding: 10px;
      box-sizing: border-box;
      .item-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        font-size: 20px;
        box-sizing: border-box;
      }
    }
  }
}


// 每个瀑布流的内容
.waterfallContent {
  display: block;
  padding: 10px 4px;
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 3px;

  &:last-child {
    margin-bottom: 0;
  }

  // 图片和标题
  .imgAndTitle {
    margin-left: 6px;

    div:first-child {
      margin-right: 10px;
    }

    .star {
      .iconfont {
        font-size: 12px;
        color: #f7c049;
      }
    }
  }

  // 评论留言
  .commentsText {
    position: relative;
    padding: 0 30px;
    margin: 12px 0 4px 0;

    .text {
      font-size: 14px;
      color: #222222;
      //overflow: hidden;
      //text-overflow: ellipsis;
      //display: -webkit-box;
      //-webkit-box-orient: vertical;
      //-webkit-line-clamp: 2;
    }

    .before, .active {
      position: absolute;
      display: inline-block;
      width: 23px;
      height: 21px;
      background-size: 23px 21px;
    }

    .before {
      top: 0;
      left: 0;
      background-image: url("../../dest/img/leftQuotes.png");
    }

    .active {
      right: 0;
      bottom: 0;
      background-image: url("../../dest/img/rightQuotes.png");
    }
  }

  // 赞赏
  .appreciates {
    padding: 0 30px;

    .name {
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 1px;
        margin-right: 2px;
        background-color: #dddddd;
      }

      color: #f7c049;
      font-size: 14px;
    }
  }
}

