.forumContent {
  margin-top: 30px; }
  .forumContent .recently .listNews li {
    float: left;
    width: 114px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 25px 18px 45px 18px;
    background-color: #ffffff; }
    .forumContent .recently .listNews li:hover {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05);
      -webkit-box-shadow: 0 0 12px 2px rgba(30, 13, 4, 0.15);
              box-shadow: 0 0 12px 2px rgba(30, 13, 4, 0.15); }
    .forumContent .recently .listNews li:nth-child(6n) {
      margin-right: 0; }
    .forumContent .recently .listNews li .content {
      color: #999999; }
      .forumContent .recently .listNews li .content .img {
        width: 75px;
        height: 75px;
        overflow: hidden;
        -webkit-border-radius: 18px;
                border-radius: 18px; }
      .forumContent .recently .listNews li .content .title {
        font-size: 14px;
        color: #999999;
        margin-top: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden; }
      .forumContent .recently .listNews li .content .describe {
        font-size: 13px;
        overflow: hidden; }
        .forumContent .recently .listNews li .content .describe span:first-child {
          float: left; }
        .forumContent .recently .listNews li .content .describe span:last-child {
          float: right; }
  .forumContent .comForumContent .com_title {
    margin-top: 30px;
    margin-bottom: 23px; }
  .forumContent .comForumContent .listNewsContent {
    background-color: #ffffff;
    padding: 26px 26px 14px 26px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .forumContent .comForumContent .listNewsContent li {
      width: 310px;
      float: left;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: #f9f8f8; }
      .forumContent .comForumContent .listNewsContent li:nth-child(2n) {
        margin-bottom: 12px; }
      .forumContent .comForumContent .listNewsContent li:nth-child(odd) {
        margin-right: 6px; }
      .forumContent .comForumContent .listNewsContent li:nth-child(even) {
        margin-left: 6px; }
      .forumContent .comForumContent .listNewsContent li .content {
        overflow: hidden;
        padding: 7px 12px; }
        .forumContent .comForumContent .listNewsContent li .content .comImg {
          float: left;
          padding: 3px;
          margin-right: 10px;
          width: 75px;
          height: 75px;
          overflow: hidden;
          -webkit-border-radius: 3px;
                  border-radius: 3px;
          background-color: #ffffff; }
        .forumContent .comForumContent .listNewsContent li .content .textContent {
          padding: 15px 0;
          float: left; }
          .forumContent .comForumContent .listNewsContent li .content .textContent .title {
            font-size: 16px;
            color: #404040;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden; }
          .forumContent .comForumContent .listNewsContent li .content .textContent .count {
            font-size: 14px;
            font-weight: 600;
            margin-top: 19px;
            color: #999999;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden; }
  .forumContent .hotRanking .momList li {
    margin-bottom: 13px; }
    .forumContent .hotRanking .momList li:last-child {
      margin-bottom: 0; }
  .forumContent .hotRanking .momList .content .newsCount {
    width: 160px; }
  .forumContent .hotRanking .momList .content .selectContent {
    width: 110px;
    height: 60px;
    margin-left: 2px; }
  .forumContent .hotRanking .momList .content .title {
    font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; }
  .forumContent .hotRanking .momList .content .newsHot {
    font-size: 12px;
    color: #a1a1a1; }
    .forumContent .hotRanking .momList .content .newsHot .n {
      margin: 10px; }
  .forumContent .recommend .com_title {
    margin-top: 30px;
    margin-bottom: 23px; }
  .forumContent .recommend .postList {
    padding: 20px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    overflow: hidden;
    background-color: #ffffff; }
    .forumContent .recommend .postList li {
      margin-bottom: 12px; }
      .forumContent .recommend .postList li:last-child {
        margin-bottom: 0; }
      .forumContent .recommend .postList li .content .title {
        margin-bottom: 9px;
        font-size: 16px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden; }
      .forumContent .recommend .postList li .content .newsHot {
        font-size: 12px;
        color: #a1a1a1; }
        .forumContent .recommend .postList li .content .newsHot .name {
          margin-right: 15px; }
