.search {
  position: relative;
  width: 146px;
  height: 30px;
  margin-top: 24px;
  margin-left: 40px;
  font-size: 14px; }
  .search .searchInput .icon-Magnifier {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 20px;
    color: #f79640;
    font-weight: 600; }
  .search .searchInput input[type="text"] {
    width: 106px;
    padding-left: 40px;
    padding-right: 17px;
    -webkit-border-radius: 14px;
            border-radius: 14px;
    border: none;
    height: 30px;
    outline: medium; }
  .search .inputLog {
    position: absolute;
    top: 28px;
    left: 0;
    z-index: 9299;
    min-width: 250px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    overflow: hidden; }
    .search .inputLog .history {
      background-color: #fff;
      -webkit-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
              box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
      overflow: hidden; }
      .search .inputLog .history .clearLog {
        background-color: #f2f2f2;
        padding: 4px 5px 4px 5px;
        font-size: 13px;
        overflow: hidden; }
        .search .inputLog .history .clearLog span {
          color: #999999;
          float: left; }
        .search .inputLog .history .clearLog a {
          float: right;
          color: #f6c760; }
      .search .inputLog .history li.activeClass .after {
        display: none;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 7px;
        content: "\e619";
        color: #999999; }
      .search .inputLog .history li {
        position: relative; }
        .search .inputLog .history li:hover .after {
          display: block; }
        .search .inputLog .history li:hover a {
          color: #ff0000; }
        .search .inputLog .history li a {
          color: #666;
          outline: 0;
          padding: 9px 22px 9px 13px;
          line-height: 12px;
          display: block;
          white-space: nowrap; }
    .search .inputLog .dimSearch {
      overflow: hidden;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
              box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2);
      z-index: 200;
      display: none; }
      .search .inputLog .dimSearch div {
        font-size: 13px;
        color: #999999;
        background-color: #f2f2f2;
        padding: 4px 10px 4px 5px; }
      .search .inputLog .dimSearch li {
        cursor: pointer; }
        .search .inputLog .dimSearch li:hover {
          -webkit-transition: 0.4s all;
          -o-transition: 0.4s all;
          transition: 0.4s all;
          background-color: #dddddf; }
        .search .inputLog .dimSearch li span {
          display: block;
          padding: 5px; }
