.wallContent .maxTitle {
  margin-top: 42px;
  text-align: center;
  font-size: 30px;
  color: #ffc039; }

.wallContent .subtitle {
  margin-top: 34px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }
  .wallContent .subtitle:before, .wallContent .subtitle:after {
    position: relative;
    top: 13px;
    content: "";
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 2px;
    background-color: #b0b0b0; }
  .wallContent .subtitle .title {
    width: 188px;
    font-size: 20px;
    color: #b0b0b0; }

.wallContent .waterfall {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0; }
  .wallContent .waterfall .item {
    -webkit-column-break-inside: avoid;
            break-inside: avoid;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .wallContent .waterfall .item .item-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: auto;
      font-size: 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }

.waterfallContent {
  display: block;
  padding: 10px 4px;
  background-color: #ffffff;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .waterfallContent:last-child {
    margin-bottom: 0; }
  .waterfallContent .imgAndTitle {
    margin-left: 6px; }
    .waterfallContent .imgAndTitle div:first-child {
      margin-right: 10px; }
    .waterfallContent .imgAndTitle .star .iconfont {
      font-size: 12px;
      color: #f7c049; }
  .waterfallContent .commentsText {
    position: relative;
    padding: 0 30px;
    margin: 12px 0 4px 0; }
    .waterfallContent .commentsText .text {
      font-size: 14px;
      color: #222222; }
    .waterfallContent .commentsText .before, .waterfallContent .commentsText .active {
      position: absolute;
      display: inline-block;
      width: 23px;
      height: 21px;
      -webkit-background-size: 23px 21px;
              background-size: 23px 21px; }
    .waterfallContent .commentsText .before {
      top: 0;
      left: 0;
      background-image: url("../../dest/img/leftQuotes.png"); }
    .waterfallContent .commentsText .active {
      right: 0;
      bottom: 0;
      background-image: url("../../dest/img/rightQuotes.png"); }
  .waterfallContent .appreciates {
    padding: 0 30px; }
    .waterfallContent .appreciates .name {
      color: #f7c049;
      font-size: 14px; }
      .waterfallContent .appreciates .name:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 30px;
        height: 1px;
        margin-right: 2px;
        background-color: #dddddd; }
