.wallContent .maxTitle {
  margin-top: 42px;
  text-align: center;
  font-size: 30px;
  color: #ffc039; }

.wallContent .subtitle {
  margin-top: 34px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }
  .wallContent .subtitle:before, .wallContent .subtitle:after {
    position: relative;
    top: 13px;
    content: "";
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 2px;
    background-color: #b0b0b0; }
  .wallContent .subtitle .title {
    width: 188px;
    font-size: 20px;
    color: #b0b0b0; }
